HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Added by me ###
application.yaml*
application.properties*
compose.yaml*

*mvn*
.gitattributes

## Ignore the logs folder and spanish readme and doc folder. 
logs/**
README_ES.md
documentation
.github/agents/*
.github/AGENTS.md
.github/copilot-instructions.md
.github/prompts/*
.github/MICROSERVICE_GENERATION_GUIDE.md